# Default ignored files
/shelf/
# IntelliJ IDEA project files
/.idea

# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# Output dir.
out